dj-database-url==0.4.1
Django==1.10.4
fbmq==2.0.2
Flask==0.11.1
gunicorn==19.6.0
psycopg2==2.6.2
whitenoise==3.2
schedule==0.4.2
Pillow==4.1.1
django-widget-tweaks==1.4.1
django-bootstrap3==8.2.3
django-datetime-widget==0.9.3
