<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN">

<html lang="en">
{% load static %}

<head>
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" type="text/css" href="{% static 'djangohuddle/static/style.css' %}" />
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
    <link href='//fonts.googleapis.com/css?family=Lobster&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
<style>
body {font-family: "Lato", sans-serif}
.mySlides {display: none}
</style>
</head>

<body>
    <h1><a href="https://huddlebot.co.uk/home">Huddle</a></h1>
    {% block content %}{% endblock %}

    {% block footer %}
    <hr>
    <a href="https://huddlebot.co.uk/events/">Events</a>
    <a href="https://huddlebot.co.uk/charity/">Charities</a>
    <a href="https://huddlebot.co.uk/charitycontact/">Charity Contacts</a>
    <a href="https://huddlebot.co.uk/users/">Users</a>
    <a href="https://huddlebot.co.uk/add_event/">Add Event</a>

    <p>Thanks for stopping by.</p>
    <a href="https://huddlebot.co.uk/login">Login</a>
    <a href="https://huddlebot.co.uk/logout">Logout</a>
    {% endblock %}
</body>
</html>
