{% extends "base.html" %}

{% block title %}Huddle - Making Volunteering Easy{% endblock %}

{% block content %}

  <!-- Automatic Slideshow Images -->
  <div class="mySlides w3-display-container w3-center">
    <img src="https://www.google.co.uk/url?sa=i&rct=j&q=&esrc=s&source=images&cd=&cad=rja&uact=8&ved=0ahUKEwiulent9-vUAhWGI1AKHYmfBhUQjRwIBw&url=http%3A%2F%2Fwww.huffingtonpost.com%2F2013%2F12%2F17%2Fpenguin-huddle-video-physics-group-warm_n_4460795.html&psig=AFQjCNEvFikjLXdPKboF8XCZiZIF0XOrGQ&ust=1499130876354959" style="width:100%">
    <div class="w3-display-bottommiddle w3-container w3-text-white w3-padding-32 w3-hide-small">
      <h2>Message Us</h2>
      <h3>Log In</h3>
      <h3>Sign Up</h3>  
    </div>
  </div>


    <p>{{ hello }}</p>
    <a href="https://obscure-meadow-72899.herokuapp.com/login/">Login</a>
    <p> or </p>
    <a href="https://obscure-meadow-72899.herokuapp.com/signup/">Sign Up</a>
{% endblock %}

