{% extends "base.html" %}

{% block title %}Huddle - Making Volunteering Easy{% endblock %}

{% block topsection %}

<!-- First Parallax Image with Logo Text -->
<div class="container-fluid bgimg-1 text-center vertical-center" id="home">
  <a href="http://m.me/HuddleChatbot" class="btn btn-default btn-lg">
    MESSAGE US
  </a>
</div>

{% endblock %}


{% block content %}

<div class="about-us">
  <div class="container">
    <div class="row">
      <div class="col-md-4">
        <h3>Volunteers</h3>
        <p>Talk to our chatbot - he wants to find you somewhere where you can make a difference.</p>
        <p><a href="http://m.me/HuddleChatbot">Ask our Facebook Chatbot for Volunteering Opportunities</a></p>
      </div>
      <div class="col-md-4">
        <h3>Charities</h3>
        <p>Sign Up to our website - Add an opportunity, we'll find the volunteers for you.</p>
        <p><a href="https://huddlebot.co.uk/signup">Sign Up</a></p>
      </div>
    </div>
  </div>
</div>

<div class="our-stats">
  <div class="container">
    <div class="row">
      <div class="col-md-2">
        <h1>0</h1>
        <p>Volunteers</p>
      </div>
      <div class="col-md-2">
        <h1>0</h1>
        <p>Volunteering Hours Completed</p>
      </div>
      <div class="col-md-2">
        <h1>0</h1>
        <p>Charity Partners</p>
      </div>
      <div class="col-md-2">
        <h1>0</h1>
        <p>Events</p>
      </div>
    </div>
  </div>
</div>

<!-- Second Parallax Image with Portfolio Text -->
<div class="bgimg-2 w3-display-container w3-opacity-min">
  <div class="w3-display-middle">
    <span class="w3-xxlarge w3-text-white w3-wide">GET IN TOUCH</span>
  </div>
</div>

<!-- Container (Contact Section) -->
<div class="w3-content w3-container w3-padding-64" id="contact">
  <h3 class="w3-center">COMMENTS OR QUESTIONS?</h3>
  <p class="w3-center"><em>We'd love to hear from you!</em></p>

  <div class="w3-row w3-padding-32 w3-section">
    <div class="w3-col m4 w3-container">
      <!-- Add Google Maps -->
      <div id="googleMap" class="w3-round-large w3-greyscale" style="width:100%;height:400px;"></div>
    </div>
    <div class="w3-col m8 w3-panel">
      <div class="w3-large w3-margin-bottom">
        <i class="fa fa-map-marker fa-fw w3-hover-text-black w3-xlarge w3-margin-right"></i> London, UK<br>
        <i class="fa fa-phone fa-fw w3-hover-text-black w3-xlarge w3-margin-right"></i> Phone: tbc<br>
        <i class="fa fa-envelope fa-fw w3-hover-text-black w3-xlarge w3-margin-right"></i> Email: mail@mail.com<br>
      </div>
      <p>Swing by for a cup of <i class="fa fa-coffee"></i>, or leave me a note:</p>
      <form action="/action_page.php" target="_blank">
        <div class="w3-row-padding" style="margin:0 -16px 8px -16px">
          <div class="w3-half">
            <input class="w3-input w3-border" type="text" placeholder="Name" required name="Name">
          </div>
          <div class="w3-half">
            <input class="w3-input w3-border" type="text" placeholder="Email" required name="Email">
          </div>
        </div>
        <input class="w3-input w3-border" type="text" placeholder="Message" required name="Message">
        <button class="w3-button w3-black w3-right w3-section" type="submit">
          <i class="fa fa-paper-plane"></i> SEND MESSAGE
        </button>
      </form>
    </div>
  </div>
</div>

{% endblock %}
