{% extends 'base.html' %}

{% block topsection %}

<!-- First Parallax Image with Logo Text -->
<div class="bgimg-1 w3-display-container w3-opacity-min" id="home">

  <div class = "w3-card-4">
    <div class = "w3-container w3-display-middle">
      <h3> ADD EVENT </h3>
    </div>
    <div class="w3-container w3-white w3-display-middle w3-border" style="white-space:nowrap;">
      <form method="post" enctype="multipart/form-data">
        {% csrf_token %}

        <table> {{ form.as_table }} </table>
        <button type="submit">Upload</button>
      </form>
    </div>
  </div>
</div>

{% endblock %}

{% block content %}

{% endblock %}
