{% extends 'base.html' %}

{% block topsection %}


<div class="bgimg-1 w3-display-container w3-opacity-min" id="home">
  <div class="w3-display-middle" style="white-space:nowrap;">

<!-- First Parallax Image with Logo Text -->
    <div class="w3-content w3-container w3-padding-64" id="contact">
      <h3 class="w3-center">ADD EVENT</h3>


      <div class="w3-row w3-padding-32 w3-section">
        <div class="w3-col m8 w3-panel">
          <form method="post" enctype="multipart/form-data">
            <div class = "w3-table w3-striped w3-responsive">
              <h3> ADD EVENT </h3>
              <table> {{ form.as_table }} </table>
            </div>
            <button type="submit">Upload</button>
          </form>
        </div>
      </div>
    </div>

  </div>
</div>


{% endblock %}

{% block content %}

{% endblock %}
